# Python virtual environments & cache
__pycache__/
*.py[cod]
*$py.class
venv/
venv_igm/

# Buildozer & Android outputs
.buildozer/
bin/
*.apk
*.aab

# VS Code & OS
.vscode/
.DS_Store
Thumbs.db
.aider*
